/* Global Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Monaco', 'Courier New', monospace;
    background-color: #221a0f; /* Kimbie Dark background */
    color: #c5c8c6; 
}

a {
    color: #f92672;
    text-decoration: none;
}

.centered-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 120px 20px;
    text-align: center;
}

/* Title Formatting */
h1, h2 {
    color: #f4bf75; /* Kimbie Dark highlight color */
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}

/* Underline Effect */
h1:after, h2:after {
    content: '';
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    border-bottom: 2px solid #f4bf75;
}

.education-section ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.education-section li {
    margin: 1.2rem 0; /* Add space between list items */
    font-size: 1.2rem;
    text-align: center;
    color: #c5c8c6; /* Kimbie Dark text color */
}

/* Involvement Section */
.involvement-section ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
}

.involvement-section li {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.pink-text {
    color: #f92672; 
    font-weight: bold;
}

.green-title {
    color: #a6e22e; 
    font-weight: normal;
}

.white-description {
    color: #ffffff; 
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Flexbox for Involvement section */
.involvement-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.involvement-section span {
    display: inline-block;
    margin-bottom: 0.5rem; 
}
