.home {
    text-align: center;
    color: #c5c8c6; /* Kimbie Dark theme color */
    background-color: #221a0f; /* Kimbie Dark background */
  }
  
  h1 {
    color: #f4bf75; /* Kimbie Dark highlight color */
  }
  
  p {
    color: #a6e22e; /* Another Kimbie Dark accent color */
  }
  