/* Research Section Styles */
.research-section {
    margin-bottom: 3rem;
  }
  
  .research-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f4bf75;
    position: relative;
    display: inline-block;
  }
  
  /* Underline Effect for the Heading */
  .research-section h2:after {
    content: '';
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    border-bottom: 1px solid #f4bf75;
  }
  
  /* Paragraph Styling */
  .research-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #a6e22e;
  }
  
  /* List Styling - Remove bullet points */
  .research-section ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
  }
  
  .research-section li {
    margin: 1rem 0;
    display: flex;
    align-items: center; /* Align the arrow and the link */
  }
  
  /* Arrow and Link Styling */
  .research-section a {
    font-size: 1.2rem;
    color: #f92672; /* Pink link color */
    text-decoration: none;
    margin-left: 10px; /* Space between arrow and link */
  }
  
  .research-section a:hover {
    text-decoration: underline;
  }
  
  /* Blinking Arrow Styling */
  .blink-arrow {
    font-size: 1.5rem;
    margin-right: 10px; /* Add space between the arrow and the link */
    animation: blink 1.2s infinite;
  }
  
  /* Blinking Arrow Animation */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  