.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #221a0f;
  padding: 0.5rem;
  z-index: 10; 
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar-links li a {
  color: #f4bf75; 
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links li a:hover {
  color: #f92672; 
}
