/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Monaco', 'Courier New', monospace;
  background-color: #221a0f; /* Kimbie Dark background */
  color: #c5c8c6; 
}

a {
  color: #f92672; 
  text-decoration: none;
}

.centered-page {
  padding: 120px 20px 60px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #f4bf75; 
}

p {
  color: #a6e22e; 
}

h1, h2 {
  color: #f4bf75; 
  font-size: 2.5rem; 
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.5rem; 
}

h1:after, h2:after {
  content: '';
  display: block;
  width: 80%; 
  margin: 0.5rem auto; 
  border-bottom: 2px solid #f4bf75; 
}
